---
import { Navbar } from "../components/navbar";
import Layout from "./layout.astro";

const { title, frontmatter } = Astro.props;
---

<Layout title={title}>
  <div
    class="container mx-auto flex-1 items-start md:grid md:grid-cols-[auto_minmax(0,1fr)] md:gap-6"
  >
    <aside
      class="fixed w-[16rem] left-0 top-[4rem] z-30 !h-[calc(100vh-4rem)] shrink-0 -translate-x-[200%] border-r border-none bg-white transition-[width,transform] duration-500 data-[open=true]:translate-x-0 dark:border-neutral-800 dark:bg-neutral-950 md:sticky md:block md:translate-x-0 md:duration-300"
    >
      <div class="my-4 space-y-1">
        <li
          class="list-none px-3 py-1 max-h-[2rem] min-h-[2rem] dark:bg-neutral-900 rounded-lg"
        >
          Installation
        </li>
        <li
          class="list-none px-3 py-1 max-h-[2rem] min-h-[2rem] hover:text-white text-neutral-300 rounded-lg"
        >
          Customizaton
        </li>
        <li
          class="list-none px-3 py-1 max-h-[2rem] min-h-[2rem] hover:text-white text-neutral-300 rounded-lg"
        >
          Installation
        </li>
      </div>
    </aside>
    <div class="my-4 prose dark:prose-invert">
      <slot />
    </div>
  </div>
</Layout>
