---
import { Navbar } from "../components/navbar";
import Layout from "./layout.astro";

const { title, frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div
    class="container mx-auto flex-1 items-start md:grid md:grid-cols-[auto_minmax(0,1fr)] md:gap-6"
  >
    <aside
      class="fixed w-[16rem] left-0 top-[4rem] z-30 !h-[calc(100vh-4rem)] shrink-0 -translate-x-[200%] border-r border-none bg-white transition-[width,transform] duration-500 data-[open=true]:translate-x-0 dark:border-neutral-800 dark:bg-neutral-950 md:sticky md:block md:translate-x-0 md:duration-300"
    >
      <div class="my-4 space-y-1">
        <li
          class="list-none px-3 py-1 max-h-[2rem] min-h-[2rem] dark:bg-neutral-900 rounded-lg"
        >
          Installation
        </li>
        <li
          class="list-none px-3 py-1 max-h-[2rem] min-h-[2rem] hover:text-white text-neutral-300 rounded-lg"
        >
          Customizaton
        </li>
        <li
          class="list-none px-3 py-1 max-h-[2rem] min-h-[2rem] hover:text-white text-neutral-300 rounded-lg"
        >
          Installation
        </li>
      </div>
    </aside>
    <main
      class="container relative w-full px-0.5 py-6 xl:grid xl:grid-cols-[1fr_220px] xl:gap-8 xl:p-8"
    >
      <div>
        <div class="space-y-3">
          <h1 class="scroll-m-20 text-4xl font-bold tracking-tight">
            {frontmatter.title}
          </h1>
          {
            frontmatter.description ? (
              <p class="text-lg text-neutral-500">{frontmatter.description}</p>
            ) : null
          }

          {
            frontmatter.radix && (
              <a
                class="inline-flex px-3 py-1 transform items-center justify-center gap-2 rounded-md bg-neutral-100/80 dark:bg-neutral-900/80 text-sm font-medium ring-offset-white transition duration-300 ease-in-out hover:bg-neutral-100 hover:text-neutral-900 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-950 focus-visible:ring-offset-2 active:scale-95 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-neutral-950 dark:hover:bg-neutral-800 dark:hover:text-neutral-50 dark:focus-visible:ring-neutral-300"
                href={frontmatter.radix ?? "#"}
                rel="noopener noreferrer"
                target="_blank"
              >
                <svg fill="none" height="24" viewBox="0 0 24 24" width="24">
                  <path
                    d="M11.8369 19.75C9.31565 19.75 7.27173 17.5601 7.27173 14.8587C7.27173 12.1573 9.31565 9.96739 11.8369 9.96739V19.75Z"
                    fill="currentColor"
                  />
                  <path
                    d="M11.8369 4.75H7.27173V9.31522H11.8369V4.75Z"
                    fill="currentColor"
                  />
                  <path
                    d="M14.7717 9.31522C16.0324 9.31522 17.0543 8.29326 17.0543 7.03261C17.0543 5.77196 16.0324 4.75 14.7717 4.75C13.5111 4.75 12.4891 5.77196 12.4891 7.03261C12.4891 8.29326 13.5111 9.31522 14.7717 9.31522Z"
                    fill="currentColor"
                  />
                </svg>
                Radix UI
              </a>
            )
          }
        </div>
        <div class="pb-6 pt-8 prose dark:prose-invert">
          <slot />
        </div>
      </div>
    </main>
  </div>
</Layout>
